<section>
  <h1>Projects</h1>
  <ul>
    <li><a href="http://fsharp.github.io/FSharp.Data/"><img src="http://fsharp.org/images/thumbs/FSharp.Data.png" style="margin:-5px 5px -5px 0px;width:32px;vertical-align:middle;height:32px;border:0;box-shadow:none" />F# Data</a></li>
    <li><a href="http://windowsphone.com/s?appId=ef62d461-861c-4a9f-9198-8768532cc6aa"><img src="https://raw.githubusercontent.com/ovatsus/Apps/master/Images/Trains/Icon300x300.png" style="margin:-5px 5px -5px 0px;width:32px;vertical-align:middle;height:32px;border:0;box-shadow:none" />UK Trains</a></li>
    <li><a href="http://windowsphone.com/s?appId=aca60941-2945-49e7-afd2-adbe5625df12"><img src="https://raw.githubusercontent.com/ovatsus/Apps/master/Images/LearnOnTheGo/Icon300x300.png" style="margin:-5px 5px -5px 0px;width:32px;vertical-align:middle;height:32px;border:0;box-shadow:none" />Learn On The Go</a></li>
  </ul>
</section>
