<section>
  <h1>Projects</h1>
  <ul>
    <li><a href="http://fsharp.github.io/FSharp.Data/">FSharp.Data</a></li>
    <li><a href="http://visualstudiogallery.msdn.microsoft.com/24ef5c87-b4e3-4c3b-b126-1064cc66e148">Fantomas</a></li>
    <li><a href="http://windowsphone.com/s?appId=ef62d461-861c-4a9f-9198-8768532cc6aa"><img src="https://f.cloud.github.com/assets/738761/901479/21504cbe-fb80-11e2-8282-8331c5465d67.png" style="margin:-7px 0px -7px -7px;width:40px;vertical-align:middle;height:40px;border:0;box-shadow:none" />UK Trains</a></li>
    <li><a href="http://windowsphone.com/s?appId=aca60941-2945-49e7-afd2-adbe5625df12"><img src="https://f.cloud.github.com/assets/738761/901479/21504cbe-fb80-11e2-8282-8331c5465d67.png" style="margin:-7px 0px -7px -7px;width:40px;vertical-align:middle;height:40px;border:0;box-shadow:none" />Learn On The Go</a></li>
  </ul>
</section>
