<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <div style="float:right; margin-top:20px; margin-right:20px">
    <a href="http://twitter.com/ovatsus" title="Twitter"><img src="/images/ico_twitter.png" /></a>
    <a href="http://github.com/ovatsus" title="GitHub"/><img src="/images/ico_github.png" /></a>
    <a href="http://www.linkedin.com/in/ovatsus" title="LinkedIn"><img src="/images/ico_linkedin.png" /></a>
    <a href="{{ site.subscribe_rss }}" title="subscribe via RSS"><img src="/images/ico_rss.png" /></a>
  </div>
</hgroup>
